<ion-header>
  <app-header [cname]="'Destination Finder'"></app-header>
</ion-header>
<ion-content>
  <div class="product-content">
    <ion-slides class="content-slider" *ngIf="isDisplay && destinationReq.length" pager="false">
      <ion-slide class="content-slide" *ngFor="let destination of details" (click)="productDetail(destination)">
        <img src={{destination.images}} alt="img">
        <p>{{destination.name}}</p>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="container pb-3">
    <div class="form-row" *ngIf="destinationReq.length">
      <div class="col-6" *ngFor="let destination of destinationReq" (click)="productDetail(destination)">
        <div class="dcard">
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="trigger"></div>
          <div class="paracard">
            <img src="{{destination.images}}" alt="image">
            <div class="frame">
              <h4>{{destination.name}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading">
    <div id="loader-wrapper">
      <div class="heartbeatloader">
        <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && !destinationReq.length" class="no_folder">
    <span class="text-white text-center no-request">No Inquiry</span>
  </div>
</ion-content>
