<ion-header>
  <app-header [cname]="'Destination Finder'"></app-header>
</ion-header>

<ion-content class="bg-image">
  <ion-card no-padding no-margin class="no-border-radius segment-card">
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="feture" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">Feature</a></ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="africa" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">Africa</a></ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="antarctica" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">Antartica</a></ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="asia" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">Asia</a></ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="australia" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">Australia</a></ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="europe" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">Europe</a></ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="north-america" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">North-America</a></ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item">
      <ion-label class="nav-item"><a class="nav-link" id="south-america" aria-controls="feture" (click)="selectTab($event)" aria-selected="true">South-America</a></ion-label>
    </ion-tab-button>
  </ion-card>

  <div class="product-content">
    <ion-slides pager="true" class="feture-slider" *ngIf="isDisplay && details.length">
      <ion-slide class="content-slide" *ngFor="let destination of details" (click)="productDetail(destination)">
        <img src={{destination.images}} onerror="this.src = 'assets/images/fallback.png'" alt="img" class="img-fluid">
        <p>{{destination.name}}</p>
      </ion-slide>
    </ion-slides>

    <div class="bottom-sec">
      <div class="filter-sec">
        <h5>All Products</h5>
        <p (click)="openModal()">
          <a id="forgot-psw"><i class="fa fa-filter"></i></a>
        </p>
      </div>
      <div *ngIf="destinationReq.length">
        <div *ngFor="let destination of destinationReq">
          <div class="single-post" (click)="productDetail(destination)">
            <div class="single-post-img">
              <img src={{destination.images}} alt="image">
            </div>
            <div class="single-post-text">
              <h4>{{destination.name}}</h4>
              <p class="des-status mt-2">{{destination.status}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="success_alert_box1" style="display: none;">
    <div class="alert_box_content">
      <div class="alert_box_text">
        <div class="alert_box_image">
          <img src="assets/images/safetravel.png" alt="image icon">
        </div>
        <p>
          We are working,<br>
          will revert soon !!
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="loading">
    <div id="loader-wrapper">
      <div class="heartbeatloader">
        <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && !destinationReq.length" class="no_folder">
    <span class="text-white text-center no-request">No Inquiry</span>
  </div>

  <div class="modal_content_with_overlay" id="product-modal" style="display: none; z-index: 1111">
    <div class="modal_body">
      <div class="filter-content">
        <h4 class="filter-head">Filter by</h4>
        <div class="filter-list">
          <div id="accordion" *ngFor="let place of placeTags">
            <div class="accordion-group">
              <a role="button" class="collapsed accordion"  >{{place.name}}</a>
              <div [id]="'collapse'+place.id" class="collapse panel" role="tabpanel" [attr.aria-labelledby]="'heading'+place.id" data-parent="#accordion">
                <div class="accordion-content">
                  <div class="single-list" *ngFor="let subplace of place.sub_cat" (click)="selectPlace(subplace.id, subplace)">
                    <ion-checkbox checked='false'></ion-checkbox>
                    <ion-label>{{subplace.name}}</ion-label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <a (click)="closeModal()">Cancel</a>
          <a (click)="placeFilter()">Apply</a>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>