<ion-header>
    <app-header [cname]="folderName"></app-header>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular" pullingIcon="null">
        </ion-refresher-content>
    </ion-refresher>
    <div class="all_content" *ngIf="allDocument.length">
        <app-folder-images [images]="allDocument"></app-folder-images>
    </div>
    <div *ngIf="loading">
        <div *ngIf="loading">
            <div id="loader-wrapper">
                <div class="heartbeatloader">
                    <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && !allDocument.length">
        <span class="text-white text-center no-request">Empty folder</span>
    </div>
    <div class="add_button" id="open-folder-folder-detail">
        <a>
            <img src="assets/images/plus.png">
        </a>
    </div>


    <div class="modal_content_with_overlay" id="folder-modal-folder-detail" style="display: none;">
        <div class="modal_body">
            <div class="modal_header">
                <p class="text-center">Folder Title</p>
            </div>
            <div class="modal_content">
                <form [formGroup]="createFolderForm">
                    <div>
                        <ion-item>
                            <ion-label position="floating">Title</ion-label>
                            <ion-input type="text" class="pt-2" formControlName="folder_name"></ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.folder_name.errors" class="invalid-feedback">
                            <div *ngIf="f.folder_name.errors.required">Folder Name is required</div>
                            <div *ngIf="f.folder_name.errors.pattern">Folder Name is not valid</div>
                        </div>
                    </div>
                    <div class="make_folder">
                        <button type="submit" class="btn bg_gradient_yello" (click)="createFolder(createFolderForm.value)"
                            [disabled]="isDisable"><i class="fas fa-plus"></i>Add Folder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>