$purple: #0575e6;
$blue: #021b79;
$green: #2fe57c;
$button_color: #003574;
.home_text {
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    align-content: center;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    span {
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        line-height: 46px;
        margin-left: 20px;
        font-family: "Montserrat", sans-serif !important;
    }
}

// header css end here
// ION content START HERE
.card {
    display: flex;
    margin-bottom: 5px;
    border-radius: 7px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    .select_plan {
        margin-top: 3px;
        ion-checkbox {
            vertical-align: middle;
            --background-checked: #a354fd;
            --border-color-checked: #a354fd;
            --border-color: #707070;
            --size: 28px;
        }
        ion-label {
            vertical-align: middle;
            font-weight: 600;
            font-size: 18px;
            outline: none;
        }
    }
    .plan_img {
        outline: none;
        i {
            font-size: 25px;
            color: #f8b853;
            margin: 0px 8px;
        }
    }
}

.select_for_continue {
    padding: 20px 10px;
    z-index: 11;
    position: relative;
    @media (max-height: 750px) {
        padding: 15px 10px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }
    button {
        margin-top: 17px;
        width: 100%;
        font-weight: 500;
        padding: 12px 10px;
        border-radius: 5px;
        font-size: 16px;
        background: transparent;
        outline: none;
        cursor: pointer;
        border: 2px solid #F8B853;
        /*a{
            i{
                line-height: 24px;
            }
        }*/
        &:hover, &:focus {
            background: rgb(221,148,75);
            background: -moz-linear-gradient(75deg, rgba(221,148,75,1) 0%, rgba(255,232,85,1) 100%);
            background: -webkit-linear-gradient(75deg, rgba(221,148,75,1) 0%, rgba(255,232,85,1) 100%);
            background: linear-gradient(75deg, rgba(221,148,75,1) 0%, rgba(255,232,85,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd944b",endColorstr="#ffe855",GradientType=1);
        }
    }
}

ion-refresher-content {
    background-color: #0575e6;
    --color: white !important;
}

.select_plan [type="radio"] + label:before {
    height: 24px;
    width: 24px;
    background-image: url('../../../assets/images/check_box_custom.png');
    border-radius: 0;
    border: none;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 0px -25px;
    top: 0;
}

.select_plan [type="radio"]:checked + label:before {
    background-position: 0px 0px;
    border: none;
    background-color: transparent;
}

.select_plan [type="radio"]:checked + label:after {
    display: none;
}

.select_plan [type="radio"] + label {
    padding-left: 40px;
}
.message-icon {
    width: 85px;
    height: 50px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}
.notification-text {
    position: absolute;
    width: 100%;
    margin-top: 65px;
}
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}