<ion-header>
  <app-header [cname]="'Details'"></app-header>
</ion-header>

<ion-content padding="ion-padding">
  <div class="product-detail-content">

    <ion-slides pager="true" *ngIf="images.length">
      <ion-slide class="image-slide" *ngFor="let img of images">
        <img [src]="img.image_url" alt="img" onerror="this.src = 'assets/images/fallback.png'" class="img-fluid">
      </ion-slide>
    </ion-slides>
    
    <div class="product-detail" *ngFor="let detail of Destinationdetails; let i = index;">
      <h2>{{detail.name}}</h2>
        <ion-grid class="p-0 mt-3">
         <ion-row class="p-0">
          <ion-col *ngFor="let tag of detail.tags" size="auto">
            <h6>{{tag}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    <div [innerHtml]="[detail.content]" class="mt-3"></div>
    <a (click)="sendUsInquiry()" class="mt-3">Send us Inquiry</a>
  </div>
</div>




<div *ngIf="loading">
  <div id="loader-wrapper">
    <div class="heartbeatloader">
      <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
    </div>
  </div>
</div>
<div *ngIf="!loading && !details" class="no_folder">
  <span class="text-white text-center no-request">We will Working,<br>Will revert soon!!</span>
</div>
</ion-content>


