.attachment-list{
    margin-top: 10px;
    p{
        font-size: 17px;
        font-weight: 600;
    }
}
.plan_option_content {
    padding: 0px 10px;
    position: relative;
    z-index: 11;
    .card {
        border: none;
        cursor: pointer;
        h6 {
            color: #434a5e;
            font-size: 17px;
            padding: 18px 15px;
            font-weight: 500;
            border-bottom: 1px solid #c7cbd6;
            text-transform: capitalize;
            @media (max-height: 750px) {
                padding: 12px 10px;
            }
            @media (max-height: 600px) {
                font-size: 16px;
                padding: 10px 10px;
            }
        }
        h3 {
            color: #434a5e;
            font-size: 18px;
            padding: 18px 3px;
        }
        p {
            padding: 0px 12px 20px 12px;
            font-size: 15px;
            color: #434a5e;
            line-height: 23px;
        }
    }
    
}

.plan_images_slide {
    height: 250px;
    background: url("../../../assets/images/imgloader.gif") center center no-repeat;
    background-size: 50px 50px;
    img {
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
::ng-deep .plan_images .slick-dots li button:before {
    font-size: 40px;
}

::ng-deep .plan_images .slick-dots li {
    margin: 0;
}
.holds-the-iframe {
    background: url("../../../assets/images/pdfloader.gif") center center no-repeat;
}


ion-content {
    --background: #ffffff;
    &:after {
        content: "";
        /*background-image: url("../../assets/images/illustration.png");*/
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        background-attachment: fixed;
        padding-right: 100%;
        padding-bottom: calc(100vh - 0px);
        z-index: 1;
        position: absolute;
    }
}
.product-detail-content {
    position: relative;
    z-index: 1111;
}
.image-slide {
    position: relative;
}
.image-slide img {
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.product-detail {
    border-radius: 22px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: relative;
}
.product-detail p {
    font-size: 14px;
    color: #7f8dab;
    line-height: 23px;
    margin-bottom: 20px;
}
.product-detail h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
}
.product-detail h5 {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}
.product-detail h5 span {
    color: #aa55ff;
}
.product-detail h6 {
    font-size: 14px;
}
.product-detail a{
    background: rgb(221,148,75);
    background: -moz-linear-gradient(75deg, rgba(221,148,75,1) 0%, rgba(255,232,85,1) 100%);
    background: -webkit-linear-gradient(75deg, rgba(221,148,75,1) 0%, rgba(255,232,85,1) 100%);
    background: linear-gradient(75deg, rgba(221,148,75,1) 0%, rgba(255,232,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd944b",endColorstr="#ffe855",GradientType=1);
    box-shadow: 0 3px 8px 1px rgb(129 59 219 / 50%);
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 14px 40px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}


.destination-tags{
text-align: center;
    padding: 8px 15px;
    /* background: #d3d3d347; */
    border-radius: 50px;
    font-size: 12px;
    margin: 5px;
    font-weight: 500;
    white-space: nowrap;
    flex-basis: 0 !important;
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    max-width: 100%;
    border: 2px solid #f3b84d;
}
.swiper-pagination-bullet {
    background: #d3d3d3c4;
}


.image-slider{
    width: 100%;
    position: relative;
    border-radius: 20px;
    height: 220px;
}


.image-slide p{
    position: absolute;
    z-index: 1111;
    bottom: 0px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 9px;
    text-align:center;
    background-color: #f3b84dd4;
}
hr{
    border-width: 1px;
    box-sizing: content-box;
}

.package {
    padding: 10px 22px;
    border-radius: 50px;
    background-color: #f3b84d;
    width: fit-content;
    font-weight: bold;
    color: black;
    margin-top: 21px;
}

.package p{
    font-size: 15px;
    color: black;
    line-height: 23px;
    margin-bottom: 0px; 
}

.fa-arrow-right:before {
    padding-left: 16px;
}

.placeImages img{
    border-radius: 15px;
    height: 53px;
}

.prevactive{
    color: #f3b84d;
    font-size: 20px;
}

.previnactive{
    color: black;
    font-size: 20px;
}

.nextactive{
    color: #f3b84d;
    font-size: 20px;
}

.nextinactive{
    color: black;
    font-size: 20px;
}