<ion-header>
	<app-header [cname]="'Destination Finder'"></app-header>
</ion-header>

<ion-content class="bg-image">
	<div class="container find_section">
		<div class="mt-3">
			<h5 class="font-wieght-bold">Find Your Destination</h5>
		</div>

		<div class="row mt-3">
			<div class="col-9">
				<h6 class="mt-3">Categories</h6>
			</div>
			<div class="col-3">
			<ion-icon name="arrow-round-back" id="prev" [ngClass]="isArraw ? 'prevactive' : 'nextinactive'" (click)="slidePrev()" ></ion-icon>
          <ion-icon name="arrow-round-forward" id="next" [ngClass]="!isArraw ? 'nextactive' : 'previnactive'" (click)="slideNext()"></ion-icon>
			</div>
			<ion-slides class="content-slider" [options]="slideOptsTwo" spaceBetween="1" loop=true #mySlider>
				<ion-slide class="content-slide"  *ngFor="let img of slideImages; let i = index"  id="{{img.id}}" (click)="selectImage(img.id, i)" [ngClass]="img.status ? 'content-slide-active' : 'content-slide-inactive'">
					<img src={{img.image}} alt="img">
					<p>{{img.title}}</p>
					<button [ngClass]="img.status ? 'button-active' : 'button-inactive'"><img src="./assets/icon/right.png"></button>
				</ion-slide>
			</ion-slides>

			<div class="container">
				<h6 class="mt-3">Geographical Preference</h6>
				<p class="mt-4">Choose From</p>
				<div class="row">
					<div class="col-4" *ngFor="let map of mapIcons; let i = index" (click)="selectMap(map.id, i)" [ngClass]="map.status ? 'map-active' : 'map-inactive'">
						<div class="map_icon">
							<img src="{{map.image}}" class="mapImg">
							<p class="mt-1">{{map.title}}</p>
							<button [ngClass]="map.status ? 'map-icon-active' : 'map-icon-inactive'"><img src="./assets/icon/right.png"></button>
						</div>
					</div>
				</div>
<!-- 					<div class="col-4">
						<div class="map_icon">
							<img src="./assets/icon/south-america.png">
							<p class="mt-1">South america</p>
						</div>
					</div>
					<div class="col-4">
						<div class="map_icon">
							<img src="./assets/icon/australia.png">
							<p class="mt-1">Australia</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="map_icon">
							<img src="./assets/icon/india.png">
							<p class="mt-1">India</p>
						</div>
					</div>
					<div class="col-3">
						<div class="map_icon">
							<img src="./assets/icon/europe.png">
							<p class="mt-1">Europe</p>
						</div>
					</div>
					<div class="col-3">
						<div class="map_icon">
							<img src="./assets/icon/africa.png">
							<p class="mt-1">Africa</p>
						</div>
					</div>
					<div class="col-3">
						<div class="map_icon">
							<img src="./assets/icon/asia.png">
							<p class="mt-1">Asia</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="map_icon">
							<img src="./assets/icon/antartica.png">
							<p class="mt-1">Antartica</p>
						</div>
					</div>
				</div> -->
			</div>
		</div>

		<div class="mt-5">
			<h6 class="font-wieght-bold ml-3">Type Of Destination</h6>
			<ion-card>
				<ion-card-content>
					<div class="container">
					<div class="row">
						<div class="col-6" >
							<div class="type_destination" *ngFor="let typeLeft of destinationLeft; let i = index;" (click)="selectTypeOfDestination(typeLeft, i)" [ngClass]="typeLeft.status ? 'typeLeft-active' : 'typeLeft-inactive'">
								<p>{{typeLeft.title}}</p>
								<button [ngClass]="typeLeft.status ? 'left-active' : 'left-inactive'"><img src="./assets/icon/right.png"></button>
							</div>	 
						</div>
						<div class="col-6">
							<div class="type_destination" *ngFor="let typeRight of destinationRight; let i = index;" (click)="selectTypeOfDestination(typeRight, i)" [ngClass]="typeRight.status ? 'typeRight-active' : 'typeRight-inactive'">
								<p>{{typeRight.title}}</p>
								<button [ngClass]="typeRight.status ? 'right-active' : 'right-inactive'"><img src="./assets/icon/right.png"></button>
							</div>	 
						</div>
					</div>
					</div>
				</ion-card-content>
			</ion-card>
		</div>

		<div class="next_btn">
			<button type="submit" (click)="nextForm()">Next<i class="fas fa-arrow-right"></i></button>
		</div>
	</div>
</ion-content>