<ion-header>
	<app-header [cname]="'Preference'"></app-header>
</ion-header>

<ion-content class="bg-image">
	<div class="container mt-4 pre_section">
		<h4>{{preferenceTitle}}</h4>
		<h6 class="mt-4">{{preference}}</h6>

		<div *ngIf="isVibe">
			<div class="row">
				<div class="col-4"  *ngFor="let pre of vibe; let i = index;" (click)="selectImage(pre, i)" [ngClass]="pre.status ? 'pre-active' : 'pre-inactive'">
					<div class="pre_image" >
						<img src="{{pre.image}}" class="preImage">
						<p>{{pre.title}}</p>
						<button [ngClass]="pre.status ? 'button-active' : 'button-inactive'"><img src="./assets/icon/right.png"></button>
					</div>	
				</div>
			</div>
			<div class="next_btn">
				<button type="submit" (click)="nextForm('vibe', vibe)">Next<i class="fas fa-arrow-right"></i></button>
			</div>
		</div>

		<div *ngIf="isTerrain">
			<div class="row">
				<div class="col-4"  *ngFor="let pre of terrain; let i = index;" (click)="selectImage(pre, i)" [ngClass]="pre.status ? 'pre-active' : 'pre-inactive'">
					<div class="pre_image">
						<img src="{{pre.image}}" class="preImage">
						<p>{{pre.title}}</p>
						<button [ngClass]="pre.status ? 'button-active' : 'button-inactive'"><img src="./assets/icon/right.png"></button>
					</div>	
				</div>	
			</div>
			<div class="next_btn">
				<button type="submit" (click)="nextForm('terrain', terrain)">Next<i class="fas fa-arrow-right"></i></button>
			</div>
		</div>
		
		<div *ngIf="isOccasion">
			<div class="row">
				<div class="col-4"  *ngFor="let pre of occasion; let i = index;" (click)="selectImage(pre, i)" [ngClass]="pre.status ? 'pre-active' : 'pre-inactive'">
					<div class="pre_image" >
						<img src="{{pre.image}}" class="preImage">
						<p>{{pre.title}}</p>
						<button [ngClass]="pre.status ? 'button-active' : 'button-inactive'"><img src="./assets/icon/right.png"></button>
					</div>	
				</div>
			</div>
			<div class="next_btn">
				<button type="submit" (click)="nextForm('occasion', occasion)">Next<i class="fas fa-arrow-right"></i></button>
			</div>
		</div>
		
		<div *ngIf="isIntrests">
			<div class="row">
				<div class="col-4"  *ngFor="let pre of intrests; let i = index;" (click)="selectImage(pre, i)" [ngClass]="pre.status ? 'pre-active' : 'pre-inactive'">
					<div class="pre_image">
						<img src="{{pre.image}}" class="preImage">
						<p>{{pre.title}}</p>
						<button [ngClass]="pre.status ? 'button-active' : 'button-inactive'"><img src="./assets/icon/right.png"></button>
					</div>	
				</div>
			</div>
			<div class="next_btn">
				<button type="submit" (click)="nextForm('interest', intrests)">Next<i class="fas fa-arrow-right"></i></button>
			</div>
		</div>
		
		<div *ngIf="isClimate">
			<div class="row">
				<div class="col-4"  *ngFor="let pre of climate; let i = index;" (click)="selectImage(pre, i)" [ngClass]="pre.status ? 'pre-active' : 'pre-inactive'">
					<div class="pre_image">
						<img src="{{pre.image}}" class="preImage">
						<p>{{pre.title}}</p>
						<button [ngClass]="pre.status ? 'button-active' : 'button-inactive'"><img src="./assets/icon/right.png"></button>
					</div>	
				</div>
			</div>
			<div class="next_btn">
				<button type="submit" (click)="nextForm('climate', climate)">Next<i class="fas fa-arrow-right"></i></button>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-12" *ngFor="let bigPre of bigPreference; let i = index;" (click)="selectBigImage(bigPre.id, i)" [ngClass]="bigPre.status ? 'pre-active' : 'pre-inactive'">
				<div class="pre_image">
					<img src="{{bigPre.image}}">
					<p>{{bigPre.title}}</p>
					<button [ngClass]="bigPre.status ? 'button-active' : 'button-inactive'"><img src="./assets/icon/right.png"></button>
				</div>
			</div>
		</div> -->
		<!-- <div class="next_btn">
			<button type="submit" (click)="nextForm()">Next<i class="fas fa-arrow-right"></i></button>
		</div> -->
	</div>
</ion-content>