$purple: #0575e6;
$blue: #021b79;
$green: #2fe57c;
$button_color: #003574;

// content css start here
.services_detail {
    .visa_text {
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        line-height: 42px;
    }
}

.select_plan_check {
    margin-top: 3px;
    width: 100%;

    ion-checkbox {
        vertical-align: middle;
        --border-color: #7f8dab;
    }

    ion-label {
        vertical-align: middle;
        font-size: 14px !important;
        color: #7f8dab;
        font-weight: 500;
    }
}
.general_details_header {
    display: flex;
    p {
        margin: auto 5px;
    }
    img {
        height: 40px;
    }
    a {
        position: absolute;
        right: 20px;
        i {
            font-size: 17px;
            color: black;
            line-height: 30px;
        }
    }
}
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

.general_details .general_details_header i {
    color: black;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    margin-left: auto;
}



.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    border-radius: 6px;
}

.active, .accordion:hover {
  background-color: white;
}

.accordion:after {
    font-family: "Font Awesome 5 Free";
    content: "\f13a";
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-left: auto;
    margin-top: 7px;
}

.active:after {
    font-family: "Font Awesome 5 Free";
    content: "\f139";
    color: black    ;
    font-weight: bold;
    float: right;
    font-size: 18px;
    margin-left: auto;
    margin-top: 7px;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

    margin-bottom: 10px;

   box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
    border-radius: 5px;
}


.accordion_inner{
    padding: 25px;
}

.general_detail{
    background: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding: 15px;
    font-weight: 700;
    border-radius: 6px;
}