.plan_option_content {
    position: relative;
    z-index: 11;
    margin-bottom: 10px;
    .card {
        border: none;
        cursor: pointer;
        h6 {
            color: #434A5E;
            font-size: 17px;
            text-transform: capitalize;
        }
        h3 {
            color: #434A5E;
            font-size: 18px;
            padding: 18px 0px;
        }
        p {
            padding: 0px 12px 20px 12px;
            font-size: 15px;
            color: #434A5E;
            line-height: 23px;
        }
    }
}

img{
  height: auto !important;
}

ion-refresher-content {
    background-color: #0575E6;
    --color: white !important;
}
