<ion-header>
  <app-header [cname]="'Quotations'"></app-header>
</ion-header>

<ion-content class="quotation">
  <div class="all_content" *ngIf="quotations.length">
      <div class="plan_option_content" *ngFor="let quotation of quotations" (click)="getSingleQuotationDetail(quotation.quotation_id, quotation)">
          <div class="card plan_option_heading w-100">
              <h6>{{quotation.quotation_name}}</h6>
          </div>
      </div>
  </div>
  <div *ngIf="loading">
      <div id="loader-wrapper">
          <div class="heartbeatloader">
              <ion-img class="svgdraw" src="assets/images/loader.gif"></ion-img>
          </div>
      </div>
  </div>
  <div *ngIf="!loading && !quotations.length">
      <span class="text-white text-center no-request">We are working on it,<br>will revert soon!!</span>
  </div>
</ion-content>