<ion-header class="home_page_header">
    <ion-toolbar>
        <ion-row>
            <ion-col size='2'>
            </ion-col>
            <ion-col size='8'>
                <div class="home_text text-left">
                    <!-- <span>Welcome to Trip Ion</span> -->
                    <img src="assets/images/bdv_logo.png" alt="logo image">
                </div>
            </ion-col>
            <ion-col size='2'>
                <div class="icon_sec">
                    <ion-menu-button></ion-menu-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <div class="wether_image">
                    <img src="assets/images/wether.png" alt="wether image">
                    <p *ngIf="temperature " class="temprature-text">{{temperature}}°C</p>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="city_name">
                    <img src="assets/images/time_zone.png" alt="time_zone icon">
                    <p class="time-city" (click)="selectCity('time')" *ngIf="timeCity">
                        {{timeCity}}
                    </p>
                    <small *ngIf="currentTime" class="time-txt">{{currentTime}}</small>
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row class="home_page_link_boxes">
            <ion-col size="6" class="home_item">
                <div class="image_box" routerLink='/home/general-quatation'>
                    <img src="assets/images/home_qi.png" alt="home image">
                    <p>Quotation <br>Inquiry</p>
                </div>
            </ion-col>
            <ion-col size="6" class="home_item">
                <div class="image_box" routerLink='/home/travel-inquiry'>
                    <img src="assets/images/home_ti.png" alt="home image">
                    <p>Travel <br>Inquiry</p>
                </div>
            </ion-col>
            <ion-col size="6" class="home_item">
                <div class="image_box" routerLink='/home/home-page'>
                    <img src="assets/images/home_cc.png" alt="home image">
                    <p>Currency <br>Converter</p>
                </div>
            </ion-col>
            <ion-col size="6" class="home_item">
                <div class="image_box" routerLink='/home/find-your-destination'>
                    <img src="assets/images/home_df.png" alt="home image">
                    <p>Destination <br>Finder</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="success_alert_box2" style="display: none;">
        <div class="alert_box_content">
            <div class="alert_box_text">
                <p>
                    Please Complete <br>
                    Your Profile
                </p>
                <div class="next_btn">
                    <button type="submit" (click)="completeProfile()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="footer_sec ">
            <div class="row ">
                <div class="col-4 ">
                    <div class="footer_img" routerLink='/home/frequent-flyer'>
                        <ion-img src="assets/images/8.png "></ion-img>
                        <p>Frequent Flyer
                        </p>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="footer_img" routerLink='/home/notification'>
                        <span class="num" *ngIf="notificationCount">{{notificationCount}}</span>
                        <ion-img src="assets/images/not_icon.png "></ion-img>
                        <p>Notifications</p>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="footer_img" routerLink='/home/briefcase'>
                        <ion-img src="assets/images/3.png "></ion-img>
                        <p>Briefcase</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>